@model WebOrdersInfo.Models.ViewModels.Account.RegisterViewModel

<h2>Регистрация нового пользователя</h2>
<div class="col-4">
    <form method="post" asp-controller="Account" asp-action="Register" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="input-group mb-3">
            <span class="input-group-text">
                <label asp-for="Email"></label>
            </span>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">
                <label asp-for="Year"></label>
            </span>
            <input asp-for="Year" class="form-control"/>
            <span asp-validation-for="Year"></span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">
                <label asp-for="Password"></label>
            </span>
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">
                <label asp-for="PasswordConfirmation"></label>
            </span>
            <input asp-for="PasswordConfirmation" class="form-control"/>
            <span asp-validation-for="PasswordConfirmation"></span>
        </div>
        <div>
            <input type="submit" value="Регистрация" class="btn btn-primary" />
        </div>
    </form>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}