@using WebOrdersInfo.Core.DTOs.Models.Filters
@model WebOrdersInfo.Models.ViewModels.OrdersFilter.OrdersFilterViewModel

@{
    Layout = null;
}

<div class="container">
    <form id="filterForm">
        @*@Html.ValidationSummary()*@
        <div class="input-group">
            <label asp-for="OrderBy" class="col-form-label"></label>
            <select asp-for="OrderBy" asp-items="Html.GetEnumSelectList(typeof(OrderSortEnum))" class="form-select"></select>
        </div>

        <div class="text-center">
            <label>Фильтровать по</label>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Клиенты
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" >
                    <div class="accordion-body">
                        @for (var i = 0; i < Model.Clients.Count; i++)
                        {
                            <div class="form-check">
                                <input asp-for="Clients[i].Id" type="hidden"/>
                                <input asp-for="Clients[i].Name" type="hidden"/>
                                <input asp-for="Clients[i].IsChecked" type="checkbox" class="form-check-input"/>
                                <label asp-for="Clients[i].IsChecked" class="form-check-label">@Model.Clients[i].Name</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Менеджеры
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                    <div class="accordion-body">
                        @for (var i = 0; i < Model.Managers.Count; i++)
                        {
                            <div class="form-check">
                                <input asp-for="Managers[i].Id" type="hidden"/>
                                <input asp-for="Managers[i].Name" type="hidden"/>
                                <input asp-for="Managers[i].IsChecked" type="checkbox" class="form-check-input"/>
                                <label asp-for="Managers[i].IsChecked" class="form-check-label">@Model.Managers[i].Name</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="productsFilterHeader">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProducts" aria-expanded="false" aria-controls="collapseProducts">
                        Продукты
                    </button>
                </h2>
                <div id="collapseProducts" class="accordion-collapse collapse" aria-labelledby="productsFilterHeader">
                    <div class="accordion-body">
                        @for (var i = 0; i < Model.Products.Count; i++)
                        {
                            <div class="form-check">
                                <input asp-for="Products[i].Id" type="hidden"/>
                                <input asp-for="Products[i].Name" type="hidden"/>
                                <input asp-for="Products[i].IsChecked" type="checkbox" class="form-check-input"/>
                                <label asp-for="Products[i].IsChecked" class="form-check-label">@Model.Products[i].Name</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <text class="text-center">Цена</text>
            <span asp-validation-for="PriceFrom" class="text-danger"></span>
            <span asp-validation-for="PriceTo" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group price">
                    <label asp-for="PriceFrom" class="col-form-label"></label>
                    <input asp-for="PriceFrom" type="text" class="form-control"/>
                </div>
            </div>
            <div class="col">
                <div class="input-group price">
                    <label asp-for="PriceTo" class="col-form-label"></label>
                    <input asp-for="PriceTo" type="text" class="form-control"/>
                </div>
            </div>
        </div>

        <div class="row">
            <text class="text-center">Дата</text>
        </div>

        <div class="input-group date-input">
            <label asp-for="DateFrom" class="col-form-label"></label>
            <input asp-for="DateFrom" id="datepickerFrom" class="form-control ui-datepicker" />
            <span asp-validation-for="DateFrom" class="text-danger"></span>
        </div>

        <div class="input-group date-input">
            <label asp-for="DateTo" class="col-form-label"></label>
            <input asp-for="DateTo" id="datepickerTo" class="form-control" />
            <span asp-validation-for="DateTo" class="text-danger"></span>
        </div>


        <div class="row filter-buttons">
            <div class="col">
                <input type="button" class="btn btn-primary" id="applyFilters" value="Применить"/>
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-primary" id="clearFilters">Сбросить</button>
            </div>
        </div>
        
    </form>
</div>