@model WebOrdersInfo.Models.ViewModels.Orders.OrdersListWithPaginationViewModel

@using WebOrdersInfo.Models.ViewModels.Orders

@{
    ViewData["Title"] = "Заказы";
}

<div class="row text-center">
    <h4>Заказы</h4>
</div>


<div class="row news-header">
    <div class="col-auto">
    </div>
    <div class="col"></div>
    <div class="col-auto" id="sortOrder" value="date_desc">
        <div class="row">
            <span class="col-auto">
                Сортировка
            </span>
            <div class="col-auto sort-news" onclick="orderByDateClick()">
                Дата
                <span id="orderByDate" value="1">
                    <svg id="orderByDateIcon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                    </svg>
                </span>
            </div>
            <div class="col-auto sort-news" onclick="orderByRatingClick()">
                Рейтинг
                <span id="orderByRating" value="0">

                </span>
            </div>
        </div>
    </div>
</div>



<div id="outputField">
    @{ await Html.RenderPartialAsync("_OrdersListWithPagination", @Model);

    }
</div>





@section scripts
{
    <script src="~/js/orders.js"></script>
    <script src="~/js/rssSelectModal.js"></script>
}
